/__pycache__/
/.vscode/
/Auxiliary/
/Data/New_Data_npy
/Data/New_Data_clip_npy
/Simulations/__pycache__/
/Simulations/Decks/
/Simulations/Data/
/Simulations/Plots/
/Simulations/Configs/
/Simulations/debug_synthetic_gen.py
/Models/__pycache__/
/Models/Preprocessing_Pkg/__pycache__/
/Models/Preprocessing_Pkg/ad_faulty_dataset.py
/Models/Preprocessing_Pkg/ad_npy_preprocessing.py
/Models/Preprocessing_Pkg/ad_sliding_window.py
/Models/Aux_Pkg/__pycache__/
/Models/Aux_Pkg/ad_aux.py
/Models/Headers_Pkg/__pycache__/
/Models/Custom_NN_Pkg/__pycache__/
/Models/FNN_Trained_Models/
/Models/LSTM_Trained_Models/
/Models/AD_LSTM_Trained_Models/
/Models/FNN_Optimizations/
/Models/LSTM_Optimizations/
/Models/AD_LSTM_Optimizations/
/Models/Best_Models/
/Models/AE/
/Models/PostprocessingScripts/AD_LSTM_inference.py
/Models/PostprocessingScripts/AD_LSTM_plot_inference.py
/Models/AD_LSTM_Optuna.py
/Models/AD_LSTM_main.py
/Models/AD_LSTM_settings.py

